@import url(./main.css);

.box{
    background-color: #1A6DFA;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.box2{
    background-color: #1A6DFA;
    border: 1px solid #fff;
    padding: 10px;
    color: #1A6DFA;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.box .box{
    background-color: #2BE165;
    border: 1px solid #1A6DFA;
}